# Data Visualization with Pandas and matplotlib

In [5]:
import pandas as pd
data = pd.read_csv('data.csv')
data.head()
data.set_index('Id', inplace=True)
data.head()

      Age Interest Qualification  Experience   Level   Company
Id
1.0  44.0      PHP            +2         0.0   Entry  Deerwalk
2.0  25.0       JS     Bachelors         4.0  Senior    F1soft
3.0  32.0   python     Bachelors         4.0  Senior  Leapfrog
4.0  26.0       QA     Bachelors         4.0  Senior  Leapfrog
5.0  38.0      PHP       Masters         1.0     Mid    F1soft