In [18]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
import csv
data = pd.read_csv('dataset.csv')
data.set_index ('Id',inplace = True)
import matplotlib.pyplot as plot

In [19]:
data.drop('Company', axis = 1, inplace= True)
less = data.iloc[1:10]
less.head()

     Experience  php  python  qa  js  qualification  level  age
Id
2.0         4.0    0       0   0   1              2      3    5
3.0         4.0    0       1   0   0              2      3    3
4.0         4.0    0       0   1   0              2      3    4
5.0         1.0    1       0   0   0              3      2    2
6.0         4.0    1       0   0   0              3      3    1

In [20]:
A = less.iloc[1].values
B = less.iloc[2].values

In [25]:
ab=np.dot(A,B)

In [26]:
a=np.linalg.norm(A)

In [27]:
b=np.linalg.norm(B)

In [28]:
ab/(a*b)

0.96799393753226559