# Cosine Similarity

In [19]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
import csv

In [20]:
data = pd.read_csv('dataset.csv')
data.set_index ('Id',inplace = True)

In [21]:
data.head()

     Experience   Company  php  python  qa  js  qualification  level  age
Id
1.0         0.0  Deerwalk    1       0   0   0              1      1    1
2.0         4.0    F1soft    0       0   0   1              2      3    5
3.0         4.0  Leapfrog    0       1   0   0              2      3    3
4.0         4.0  Leapfrog    0       0   1   0              2      3    4
5.0         1.0    F1soft    1       0   0   0              3      2    2

In [6]:
company = data['Company']

In [7]:
company.head()

Id
1.0    Deerwalk
2.0      F1soft
3.0    Leapfrog
4.0    Leapfrog
5.0      F1soft
Name: Company, dtype: object

In [8]:
data.drop('Company', axis = 1, inplace= True)

In [9]:
data.head()

     Experience  php  python  qa  js  qualification  level  age
Id
1.0         0.0    1       0   0   0              1      1    1
2.0         4.0    0       0   0   1              2      3    5
3.0         4.0    0       1   0   0              2      3    3
4.0         4.0    0       0   1   0              2      3    4
5.0         1.0    1       0   0   0              3      2    2

In [10]:
cosine_sim = 1-pairwise_distances(data, metric="cosine")

In [11]:
result= pd.DataFrame(cosine_sim)

In [12]:
result.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.000000,0.674200,0.640513,0.663489,0.917663,0.666667,0.629941,0.577350,0.746203,0.762493,...,0.753778,0.869626,0.603023,0.583333,0.753778,0.686803,0.606780,0.722315,0.753778,0.676123
1,0.674200,1.000000,0.950034,0.974172,0.804295,0.809040,0.968330,0.934199,0.948683,0.945894,...,0.935083,0.874123,0.853771,0.809040,0.975739,0.926085,0.963636,0.973970,0.772460,0.934477
2,0.640513,0.950034,1.000000,0.967994,0.808190,0.907393,0.907841,0.993838,0.955904,0.854676,...,0.965609,0.784873,0.965609,0.934081,0.941469,0.967793,0.993217,0.963858,0.820768,0.866131
3,0.663489,0.974172,0.967994,1.000000,0.811812,0.860078,0.965949,0.957664,0.943042,0.899388,...,0.955792,0.839254,0.889108,0.860078,0.955792,0.951877,0.974172,0.976246,0.844653,0.897201
4,0.917663,0.804295,0.808190,0.811812,1.000000,0.841191,0.722592,0.761606,0.880409,0.874639,...,0.899229,0.906845,0.760886,0.802955,0.899229,0.850842,0.773360,0.856171,0.899229,0.736788

In [13]:
#find most similar user with user 2
similar = result.iloc[[1]]

In [14]:
similar

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
1,0.6742,1.0,0.950034,0.974172,0.804295,0.80904,0.96833,0.934199,0.948683,0.945894,...,0.935083,0.874123,0.853771,0.80904,0.975739,0.926085,0.963636,0.97397,0.77246,0.934477

In [15]:
similar = similar.stack()

In [17]:
similar

1  0      0.674200
   1      1.000000
   2      0.950034
   3      0.974172
   4      0.804295
   5      0.809040
   6      0.968330
   7      0.934199
   8      0.948683
   9      0.945894
   10     0.875811
   11     0.871847
   12     0.881953
   13     0.963636
   14     0.953463
   15     0.954994
   16     0.611577
   17     0.875811
   18     0.948119
   19     0.767523
   20     0.971625
   21     0.804030
   22     0.984937
   23     0.881953
   24     0.964836
   25     0.963128
   26     0.823886
   27     0.804943
   28     0.955411
   29     0.910170
            ...
   970    0.835229
   971    0.864900
   972    0.799193
   973    0.810163
   974    0.840918
   975    0.809040
   976    0.815436
   977    0.823411
   978    0.931037
   979    0.981818
   980    0.896065
   981    0.894427
   982    0.966811
   983    0.908249
   984    0.974835
   985    0.813116
   986    0.966811
   987    0.894427
   988    0.971625
   989    0.984937
   990    0.935083
   991    0.874123
   992    0.853771
   993    0.809040
   994    0.975739
   995    0.926085
   996    0.963636
   997    0.973970
   998    0.772460
   999    0.934477
Length: 1000, dtype: float64

In [16]:

final= similar.sort_values(ascending=False )

In [18]:
final

1  855    1.000000
   514    1.000000
   1      1.000000
   724    1.000000
   956    0.996479
   432    0.994987
   35     0.994445
   788    0.994053
   88     0.992243
   234    0.992243
   905    0.992243
   172    0.992159
   326    0.991044
   185    0.991044
   521    0.991044
   198    0.989901
   191    0.989901
   352    0.989901
   522    0.987019
   441    0.984937
   101    0.984937
   989    0.984937
   22     0.984937
   227    0.984076
   360    0.984076
   751    0.984076
   821    0.981831
   268    0.981831
   694    0.981831
   925    0.981831
            ...
   215    0.696311
   548    0.696311
   0      0.674200
   66     0.674200
   829    0.674200
   827    0.674200
   871    0.662541
   103    0.662541
   647    0.662541
   321    0.662541
   961    0.661495
   386    0.661495
   934    0.661495
   480    0.611577
   490    0.611577
   783    0.611577
   324    0.611577
   605    0.611577
   610    0.611577
   16     0.611577
   615    0.611577
   828    0.611577
   559    0.583874
   279    0.544949
   51     0.544949
   462    0.544949
   143    0.544949
   285    0.544949
   297    0.544949
   193    0.544949
Length: 1000, dtype: float64

In [14]:
final = final.iloc[0:7:1]

In [15]:
final

1  855    1.000000
   514    1.000000
   1      1.000000
   724    1.000000
   956    0.996479
   432    0.994987
   35     0.994445
dtype: float64

In [16]:
type(final)

pandas.core.series.Series

In [17]:
rec_index = []
for (index,value) in final.iteritems():
    rec_index.append(index[1]+1)
print(rec_index)

[856, 515, 2, 725, 957, 433, 36]

In [18]:
for each in rec_index:
    print(company[each])
    print(data.loc[each])

Leapfrog
Experience       4.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 856.0, dtype: float64
Aayulogic
Experience       4.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 515.0, dtype: float64
F1soft
Experience       4.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 2.0, dtype: float64
F1soft
Experience       4.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 725.0, dtype: float64
Aayulogic
Experience       5.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              6.0
Name: 957.0, dtype: float64
Aayulogic
Experience       5.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    3.0
level            3.0
age              6.0
Name: 433.0, dtype: float64
Leapfrog
Experience       5.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 36.0, dtype: float64